:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: center;
}

.form-input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  transition: border 250ms ease, color 250ms ease;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
  color: #2e2f42;
}

.form-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  

  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.loader {
  width: 64px;
  height: 64px;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  background: black;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {

  0%,
  100% {
    bottom: -35px
  }

  25%,
  75% {
    bottom: -2px
  }

  20%,
  80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25%,
  75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

.hidden {
  display: none;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 16px auto;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  box-sizing: border-box;
  display: flex;
    flex-direction: column;
    overflow: hidden;
}

.gallery-link {
  height: 150px;
  display: block;
}

.gallery-image{
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 8px;
}


.info-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info-item span {
  font-weight: 600;
}

.iziToast>.iziToast-body .iziToast-icon {
  display: none !important;
}

.iziToast>.iziToast-body {
  margin-left: 0 !important;
}